# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (opcional, descomenta si no querés subir configs locales)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
.pub/
.build/
build/
coverage/
.metadata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/.gradle/
/android/local.properties
/android/key.properties
/android/captures/
/android/gradle-wrapper.jar
/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec

# Windows related
windows/flutter/ephemeral/

# macOS related
macos/Flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/
